/*INDEX*/
* {
    text-decoration: none;
    list-style: none;
    max-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    float: left;
    width: 15%;
    padding: 0.5rem;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0); /* Code inspired from - <a href="https://www.w3schools.com/css/css_border.asp"></a>*/
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-left: none;
}

#search {
    box-sizing: border-box;
    padding: 0.5rem;
    border-color: #000000;
    font-size: 15px;
    border: 1.5px solid rgb(0, 0, 0);
    float: left;
    gap: 2rem;
    margin-bottom: 1rem;
}

#global-header{
    display: list-item;
}

#global-header ul {
    padding-left: 0%;
    max-width: 100px;
}

#global-header ul li {
    margin-top: 1rem;
}

.btn{
    padding: 0.5rem; 
    border: 1px solid #000000; 
    color: #000000; 
    text-decoration: none; 
    font-size: smaller;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#pakke{
    background-color: #c5c3c3; 
    padding: 2rem; 
    max-height: 250px;
    text-align: right;
}

#pakke p{
    font-size: medium;
}

a {
    color: #000000;
}

h3 {
    padding-top: 1rem;
}

article h4{
    max-width: 85px;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    font-size: small;
    text-align: left;
    border-radius: 1px;
    float: left;
    display: inline;
    margin-inline: 0.5rem;
}

section p{
    font-size: small;
}

.product-card img {
    width: 100%;
    max-width: 304px;
    
}

.product-card h3 {
    margin: 0%;
    padding-top: 0.5rem;
}

.product-card p {
    padding-bottom: 1rem;
}

.kategorier {
    max-width: 304px;
    text-align: center;
    display: list-item;
    margin-top: 2rem;
    padding: 50px;
    border: 2px solid rgb(0, 0, 0);
}

.anmeldelser {
    max-width: 304px;
    text-align: left;
    display: list-item;
    margin-top: 1rem;
    padding: 1rem;
    border: 0.5px solid rgb(0, 0, 0);
}

.anmeldelser img {
    max-width: 150px;
    max-height: 70px;
}

.anmeldelser h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.anmeldelser p {
    font-size: 12px;
}

footer h3 {
    font-size: x-large;
    margin-bottom: 0.5rem;
}

footer {
    border-top: 1px solid black;
    margin-top: 7rem;
}

footer ul {
    padding-left: 0rem;
}

footer h4 {
    margin-bottom: 0.5rem;
}

footer li {
    padding-bottom: 0.5rem;
    font-size: smaller;
}

#some li {
    padding-bottom: 2rem;
    font-size: medium;
}

/*PRODUCT*/
.breadcrumb {
    display: flex; 
    list-style: none; 
    text-decoration: none; 
    padding-left: 0%;
    color: #000; 
    font-size: medium;
    margin-top: 2rem;
}

.breadcrumb li+li:before { /*Code from - <a href="https://www.w3schools.com/howto/howto_css_breadcrumbs.asp"></a>*/
    padding: 10px;
    color: black;
    content: ">"; 
    font-weight: bolder;
  }

#bold {
    font-weight: bolder;
}

.small {
    display: inline;
    max-width: 304px;
    max-height: 97px;
}

.size h3 {
    padding: 0rem;
}

.size p {
    font-size: small;
}

.side h3 {
    padding-left: 27px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.side p {
    font-size: small;
    padding-left: 27px;
    display: inline;
}

.side img{
    max-width: 250px; 
    padding: 27px;
    padding-bottom: 0px;
}

/*CHECKOUT*/
.fulli h6 {
    margin: 0rem;
    font-size: medium;
}

.fulli img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.fulli p {
    margin: 0rem;
    font-size: small;
}

#ksize {
    margin-top: 0%;
    padding-top: 0%;
}

#ensize {
    margin-bottom: 0%;
}

.boxes {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    display: list-item;
    padding: 0.5rem;
    max-width: 100%;
    color: #8a8a8a;
    margin-bottom: 10px;
}

#closer {
    margin-bottom: 0%;
    font-size: small;
}

#abutton {
    float: left;
    width: 15%;
    padding: 0.5rem;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-left: none;
}

#btnl {
   display: list-item;
   background-color: #000;
   color: #ffffff;
   border: 2px solid #4f4f4f;
   margin-bottom: 1rem;
   padding: 1rem;
   margin-top: 2rem;
}

#btna {
    display: list-item;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    text-align: center;
    padding: 1rem;
}

.checkbox {
    width: 100%;
}
.checkbox p{
    font-size: medium;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
}
.checkbox label{
    width: 20em;
    float: left;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.lastbox {
    display: list-item;
    background-color: #ffffff;
    color: #616161;
    border: 1px solid #000000;
    margin-bottom: 0rem;
    padding: 1rem;
    margin-top: 0rem;
    max-width: 100%;
}

#lastbtn {
    display: list-item;
    background-color: #000;
    color: #ffffff;
    border: 2px solid #4f4f4f;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

#far {
    margin-top: 7rem;
    margin-bottom: 0%;
}

.twocheck {
    width: 100px;
}

.twocheck label {
    width: 20em;
    font-size: medium;
    float: left;
    margin-bottom: 0.5rem;
    font-size: medium;
}

#close {
    font-size: medium;
    margin-bottom: 0%;
    margin-top: 1rem;
}

.hseks {
    font-size: small;
    margin-top: 0%;
    margin-bottom: 0%;
}

#tiny {
    margin-top: 0rem;
    margin-bottom: 0rem;
}